
canvas {
    border: 1px solid black;
    /*
    background-image: url("../media/Checker.png");
    */
    background-size: contain;
}

button {
    margin: 5px;
    font-size: 100%;
}

body {
    background-color: #eee6e6
}

@media only screen and (min-width: 610px) {
    .container {
        max-width: 610px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
}

#menu_play, #menu_expert {
    display: none;
}

#menu_expert div {
    display: flex;
}

#menu_depth {
    display: flex;
    flex-direction: column;
}

#menu_depth input {
    width: 50px;
}

#menu_depth label {
    flex: 1;
    padding-right: 10px;
}
